*{
    margin: 0;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
body{
    background-color: #fff;
}
.main{
    padding: 10px 150px;
}
.header{
    display: flex;
    justify-content: space-between;
}
a{
    background-color: transparent;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.menu-link{
    text-decoration: none;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}
.menu-link.title{
    font-size: 20px;
    letter-spacing: -0.2px;
    
}
.right-side{
    height: 30px;
    display: flex;
    justify-content: flex-end;
}
.night-mode-icon{
    padding: 5px 10px;
}
.night-mode-icon:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.06);
}
.download{
    background-color: #0078D4;
    color: white;
    border: 1px none rgba(0,0,0,0.10);
    padding: 8px 16px;
    line-height: 100%;
    border-radius: 4px;
}
.download span{
    font-size: 16px;
    
}
.search{
    margin-right: 5px;
    border: 1px solid rgba(0,0,0,0.10);
    padding: 5px 10px;
    width: 200px;
    line-height: 1.42857143;
    font-size: 14px;
}
.version-info{
    font-size: 14px;
    
    margin: 35px 0;
    text-align: center;
}
.code-editor-download{
    display: flex;
    justify-content: left;
    margin: 20px 0 30px 0;
}
.free-built-open-source{
    border: 1px solid rgba(0,0,0,0.10);
    border-radius: 32px;
    padding: 8px 12px;
    line-height: 1.42857143;
    font-size: 14px;
    
    color: #333333;
    background-color: #00000003;
}
h1{
    font-size: 56px;
    margin: 20px 0 20px 0;
    
}
.home-screen-img{
    width: 60%;
}
.code-editor-download-content{
    margin: auto;
}
.download-windows{
    padding: 15px 30px;
    font-size: 18px;
}
.download-link {
    font-size: 14px;
    font-weight: 600;
    margin: 16px 0;
}
.license-paragraph{
    font-size: 12px;
}